// app global css in SCSS form
.br {
  border: 1px solid red;
}
.bg {
  border: 1px solid green;
}
a {
  color: black;
  text-decoration: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

// .q-layout, .q-drawer, html, body {
//   background: var($primary);
//   color: white;
// }

.q-dialog__inner {
  padding: 0;
}

.q-radio {
  width: 100%;
  &__label {
    width: 100%;
  }
}
